In [14]:
import pandas as pd
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, text, inspect, func, select, Table, MetaData

In [16]:
engine = create_engine("postgresql://project_3_333t_user:3LuhMTGZ77yugy4ExOkIqqROOtWMs4rE@dpg-cnbuglv79t8c73ep52q0-a.ohio-postgres.render.com/project_3_333t", echo=False)
Base = automap_base()
Base.prepare(autoload_with=engine)
#School_Location_2 = Base.classes.School_Location_2
session=Session(engine)

In [17]:
Base.classes.keys()

['Board_info',
 'Board_Grad_2',
 'School_info',
 'Enrollment_2',
 'Board_Grad',
 'Enrollment',
 'School_info_2',
 'Board_info_2']

In [19]:
Grad_Data = Base.classes.Board_Grad_2

In [20]:
print(Grad_Data)

<class 'sqlalchemy.ext.automap.Board_Grad_2'>

In [24]:
#grad_df = pd.read_sql_query("SELECT * FROM public.'Board_Grad_2' ", engine)

In [4]:
#grad_df = pd.read_csv("graduation_data.csv")

In [10]:
#grad_df.columns

Index(['Board Number', 'Year', 'Board Type', 'Region ',
       'Grade 10 OSSLT Results', 'Progress in Grade 10 OSSLT Results ',
       'Credit Accumulation by the end of Grade 10',
       'Progress in Credit Accumulation by the end of Grade 10',
       'Credit Accumulation by the end of Grade 11',
       'Progress in Credit Accumulation by the end of Grade 11',
       'Four Year Graduation Rate 2017-2018 Grade 9 Cohort',
       'Progress in Four Year Graduation Rate 2017-2018 Grade 9 Cohort',
       'Four Year Graduation Rate 2017-2018 Grade 9 Cohort.1',
       'Progress in Four Year Graduation Rate 2017-2018 Grade 9 Cohort.1'],
      dtype='object')